@define-color red #ea6962;
@define-color blue #7aa2f7;
@define-color blue_dark #34548a;
@define-color green #a9b665;
@define-color white #ffffff;
@define-color text rgb(169, 177, 214);
@define-color bg rgba(40, 40, 40, 0.8);
@define-color bg_dark rgb(17, 17, 27);
@define-color bg-hover rgb(27, 27, 43);

* {
    font-family: Inter V;
}

.control-center {
    background: @bg;
    padding: 10px;
    border: 5px solid @bg;
    border-radius: 15px;
}

.notification-row {
    outline: none;
}

.notification-row:hover, .notification-row:focus {
    background: @bg;
    opacity: 0.8;
}

.notification, .notification-content, .floating-notifications {
    background: @bg;
}

.notification {
    border: 3px solid @blue_dark;
    border-radius: 10px;
    margin: 5px 2px 3px 0;
}

.notification-action, .notification-default-action {
    border-radius: 5px;
}

.notification-default-action:hover, .notification-action:hover {
    background: rgba(20, 20, 20, 0.7);
}

.floating-notifications {
    background: transparent;
}

.inline-reply-entry, .inline-reply-button {
    color: @text;
    background: @bg;
    border: 1px solid @white;
    border-radius: 5px;
}

.inline-reply-button {
    background: @bg_dark;
    margin-left: 4px;
}

.inline-reply-button:disabled {
    background: initial;
    border-color: transparent;
}

.inline-reply-button:hover {
    background: @bg-hover;
}

.close-button {
    color: @bg;
    background: @red;
    border-radius: 5px;
    margin: 12px 5px 0 0;
}

.image {
    border-radius: 5px;
    margin-right: 10px;
}

/* notification heading */
.summary {
    color: @green;
    font-size: 20px;
    font-weight: 700;
    margin: 3px 0 0 5px;
}

/* notification details */
.body {
    color: @text;
    font-size: 15px;
    margin: 3px 0 3px 5px;
}

/* title */
.widget-title>button {
    color: @red;
    background: @bg_dark;
    padding: 10px 19px 10px 16px;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 50%;
}

/* clear all */
.widget-title>button:hover {
    color: @bg;
    background: @red;
}

.widget-dnd {
    color: #9f9e9b;
    padding: 10px 0;
    margin: 10px 12px 0px 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.widget-dnd>switch {
    background: @red;
    border: 1px solid @red;
}

.widget-dnd>switch:checked {
    background: @green;
    border: 1px solid @green;
}

.widget-dnd>switch slider {
    background: @bg_dark;
    border: none;
}

.widget-label>label {
    color: @text;
    font-size: 1rem;
}

.widget-mpris, .widget-volume, .widget-backlight {
    color: @text;
    background: rgba(40, 40, 40, 0.5);
    margin: 0 5px 10px 5px;
    border-radius: 20px;
}

.widget-mpris-player {
    border-radius: 20px;
    padding: 10px;
}

.widget-mpris-player button:hover {
    background-color: @bg-hover;
}

.widget-mpris-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-volume, .widget-backlight {
    font-size: 1.5rem;
    padding: 5px;
}
